{% load static %}

<head>
    <title>
        wahyu django app
    </title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="{% static 'css/mycss.css' %}"/>
</head>
<body>
    <center>
    <div class="separate">
        <div class="hello">
            <b>
                <p style="color: rgb(154, 255, 31); font-size:20px;">
                    today quote
                </p>
            </b>
            <text style="color: white;">
            " nothing is impossible. the word itself says 'i'm possible!' "
            </text>
            <br>
        </div>
    </div>
    </center>
</body>
<style type="text/css">
body
{
    background-image: url({% static 'media/views.jpeg' %});
    background-attachment: fixed;
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>
